<div class="mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>My bookings</h1>
  </div>
</div>

<div class="container py-2">
  <% @bookings.each do |booking| %>
    <%# <%= if booking.user_id == current_user.id %>
    <%= link_to booking_path(booking), class:'text-decoration-none' do %>
      <div class="card-product mx-auto">
        <img src=<%= booking.laptop.photo.attached? ? cl_image_path(booking.laptop.photo.key) : asset_path('laptop_background.jpg') %>/>
          <div class="card-product-infos">
            <h2>Brand <%= booking.laptop.brand %></h2>
            <p>Model <%= booking.laptop.model %></p>
            <p>Date From <%= booking.date_from.strftime("%B %d, %Y") %></p>
            <p>Date To <%= booking.date_to.strftime("%B %d, %Y") %></p>
            <p>Status <%= booking.status %></p>
            <p>Collection Point <%= booking.laptop.collection_point %></p>
          </div>          
      </div>
      <%# <%= link_to 'Edit the booking', edit_booking_path(:booking_id), class: 'btn btn-flat' %>
      <br>
    <% end %>
  <% end %>
</div>
