<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Discover all our laptops</h1>
  </div>
</div>

<div class="container">
  <%= form_tag laptops_path, method: :get do %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a laptop"
      %>
      <br>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="container text-center py-5">
  <div class="row align-items-center">
    <% @laptops.each do |laptop| %>
      <div class="col">
      <div class="card-product">
        <%= image_tag laptop.photo.attached? ? cl_image_path(laptop.photo.key) : asset_path('laptop_background.jpg') %>
          <div class="card-product-infos">
            <h5><strong><%= laptop.brand %> <%= laptop.model %></strong></h5>
            <p><strong>Operating System:</strong> <%= laptop.operating_system %></p>
            <p><strong>Date of Manufacture:</strong> <%= laptop.date_manufacture.strftime("%B %d, %Y") %></p>
            <p><strong>Daily Rental Rate (MUR):</strong> <%= laptop.rental_rate %></p>
            <p><strong>Collection Point:</strong> <%= laptop.collection_point %></p>
            <div class="button">
              <%= link_to "View", laptop_path(laptop), class:'text-decoration-none btn btn-warning' %>
            </div>
          </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
