<div class="card text-center sticky-top py-2 booking-form">
  <h3><strong>Book this <%= @laptop.brand %> Laptop Now?</strong></h3>
  <%= simple_form_for [@laptop, @booking] do |f| %>
    <strong><%= f.label "Start Date" %></strong>
    <%= f.date_field :date_from %>
    <strong><%= f.label "End Date" %></strong>
    <%= f.date_field :date_to %>
    <%= f.submit class: 'btn btn-warning btn-sm' %>
  <% end %>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-sm">
      <%= image_tag(@laptop.photo, size:"100x400", :class => "card-img-top") if @laptop.photo.attached?  %>
    </div>
    <div class="col-sm mt-5">
      <div class="card p-2">
        <table>
          <tr>
            <th><h5><strong>Model:<strong><h5></th>
            <th><h5 ><%= @laptop.model %></h5></th>
          </tr>
          <tr>
            <th><h5><strong>Operating System:<strong><h5></th>
            <th><h5> <%= @laptop.operating_system %></h5></th>
          </tr>
          <tr>
            <th><h5><strong>Date of Manufacturing:<strong><h5></th>
            <th><h5> <%= @laptop.date_manufacture.strftime("%B %d, %Y") %></h5></th>
          </tr>
          <tr>
            <th><h5><strong>Daily Rental Rate:<strong><h5></th>
            <th><h5> <%= @laptop.rental_rate %> MUR</h5></th>
          </tr>
          <tr>
            <th><h5><strong>Collection Point:<strong><h5></th>
            <th><h5> <%= @laptop.collection_point %></h5></th>
          </tr>
          <tr>
            <th><h5><strong>Owner: <strong><h5></th>
            <th><h5> <%= @laptop.user.first_name %> <%= @laptop.user.last_name %></h5></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-sm">
      <div class="px-2">
        <h2> Reviews</h2>
      </div>
      <% @laptop.bookings.each do |booking| %>
        <% booking.reviews.each do |review| %>
          <div class="card p-2">
            <div>
              <% if booking.user.photo.attached? %> 
                <%= image_tag booking.user.photo, class: "avatar" %> <p> <%= booking.user.first_name %> <%=booking.user.last_name %></p>
              <% else %>
               <%= image_tag "users/avatar-none.jpg", class: "avatar" %> <p> <%= booking.user.first_name %> <%=booking.user.last_name %></p>
              <% end%>   
            </div> 
            <p><strong>Rating:</strong> <% review.rating.times do  %>
              <i class="fas fa-star"></i>
            <% end %>
            <p><strong>Comment:</strong> <%= review.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
